<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.name%></h1>
        <div style="width: 30%; margin: 25px auto;">
            
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name%>"> <!--The reason this is a value and not a placeholder="New Campground" or something else is because this is EDITING an already existing value-->
                </div> <!--end form-group-->
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="number" name="campground[price]" value="<%= campground.price%>" min="0.01" step="0.01">
                    </div>
                </div> <!--end form-group-->
                
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image%>"> 
                    <!-- The reason for the campground[image] is so instead of having to make new variables like var data={name:req.body.name, image: res.body.image in the campgrounds route, this is already an object and you can use campground.image instead-->
                </div><!--end form-group-->
                
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[description]" value="<%= campground.description%>">
                </div><!--end form-group-->
                
                <div class="form-group">
                   <button class="btn btn-lg btn-warning btn-block">Submit</button> 
                </div><!--end form-group-->
                
            </form>
            <a href="/campgrounds">Go Back</a>
        </div> <!--end inline-style centering-->
    </div> <!--end row-->
</div> <!--end main container-->
<% include ../partials/footer.ejs %>